
p,time, ul, h2, h3, td {
  color: #555555;
}

a.post-taxonomy-tag {
  color: #1178b3;
}

div.post-meta > div {
  color: #555555;
}

nav.pagination {
  color: #555555;
}

.twitter-tweet {
  box-shadow: 10px 10px 5px grey;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 1);
}

blockquote {
  background: lightgray;
  margin: 2em 0 2em 0;
  padding-left: 1em;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  padding-right: 1em;
  -webkit-box-shadow: 13px 13px 23px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 13px 13px 23px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 13px 13px 23px -8px rgba(0, 0, 0, 0.75);
}

body {
  font-family: sans-serif;
  color: #999999;
  font-display: "swap"
}

a>code {
  color: rgba(173, 0, 0, 1);
}

.header {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-display: "swap"
}


a {
  color: #1178b3;
  text-decoration: none;
}

.Aligner {
  min-height: 24em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.pure-img {
  display: block;
  margin: auto;
}

.red {
  color: red;
}

.orange {
  color: darkorange;
}

.yellow {
  color: goldenrod;
}

.green {
  color: green;
}

.lime {
  color: #00c700;
}

.blue {
  color: blue;
}

.purple {
  color: indigo;
}

.center {
  text-align: center;
  margin: auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .pure-table {
    width: 100%;
    margin: auto;
  }
}

@media only screen and (min-device-width: 480px) {
  .pure-table {
    width: 75%;
    margin: auto;
  }
}

.pure-img-responsive {
  max-height: 20em;
}

/* Style only inline code with borders */
:not(pre) > code {
  word-wrap: break-word;
  background-color: #f0f0f0;
  border: 1px solid #aaaaaa;
  padding: 1px 3px 1px 3px;
}
pre {
  /* box-shadow: 5px 12px 15px 5px #727272; */
  /* border-radius: 10px; */
  padding: 0.5em;
  word-wrap: break-word;
}

/* code {
  word-wrap: break-word;
  background-color: #f0f0f0;
} */
