/* latin-ext 
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}*/

/* latin 
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}*/




.twitter-tweet {
  box-shadow: 10px 10px 5px grey;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 1);
}

blockquote {
  background: lightgray;
  margin: 2em 0 2em 0;
  padding-left: 1em;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  padding-right: 1em;
  -webkit-box-shadow: 13px 13px 23px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 13px 13px 23px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 13px 13px 23px -8px rgba(0, 0, 0, 0.75);
}

body {
  font-family: sans-serif;
}

/* code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
    color: #777;
    background: rgb(230, 230, 230);
    padding-left: 0.2em;
    padding-right: 0.2em;
} */

a>code {
  color: rgba(173, 0, 0, 1);
}

a {
  color: #00aaff;
}

.Aligner {
  min-height: 24em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.pure-img {
  display: block;
  margin: auto;
}

.red {
  color: red;
}

.orange {
  color: darkorange;
}

.yellow {
  color: goldenrod;
}

.green {
  color: green;
}

.lime {
  color: #00c700;
}

.blue {
  color: blue;
}

.purple {
  color: indigo;
}

.center {
  text-align: center;
  margin: auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .pure-table {
    width: 100%;
    margin: auto;
  }
}

@media only screen and (min-device-width: 480px) {
  .pure-table {
    width: 75%;
    margin: auto;
  }
}

code {
  word-wrap: break-word;
  background-color: #f0f0f0;
}

.pure-img-responsive {
  max-height: 20em;
}
